<div class="main-page">
  <form class="search" action="/artists" method="POST">
    <input class="search-field" type="text" name="searchedArtist">
    <button class="search-button" type="submit">Search for an Artist</button>
  </form>
</div>

